@import "tailwindcss";
@plugin "daisyui" {
    themes: winter --default, night --dracula, dracula;
  }
@layer components{
    .align-element{
        @apply max-w-[2600px] mx-auto px-5;
    }
}

.masonry-grid {
    display: flex;
    gap: 20px;
  }
  

  